@import "tailwindcss";
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
   font-style: normal;
 }

.wrapper{
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}
button{
    cursor: pointer;
}
input[type="checkbox"] {
  cursor: pointer;
}
 